.flex-container {
	display: flex;
	justify-content: space-around;
	flex-direction:column;
	align-items:center;
	flex-wrap: wrap;
    height: 20em;
    background-color: lightgrey;
    margin: 5em auto;
}

.square {
	border: 1px solid black;
	width: 3em;
	height: 3em;
	margin: .5em;
	display: inline-block;
	border-radius: 0.3em;
}

.key {
	transition: all 0.3s;
}

.playing {
	transform:scale(1.1);
}

h1, .sounds {
	text-align: center;
}


@media (max-width: 641px) {
  .flex-container {
    height: 28em;
  }
}