body {
	font-family: 'Righteous', cursive;
	}

.flex-container {
	display: flex;
	justify-content: space-around;
	flex-direction:column;
	align-items:center;
	flex-wrap: wrap;
    height: 20em;
    background-color: lightgrey;
    margin: 5em auto;
}

.square {
	border: 5px solid transparent;
	width: 3em;
	height: 3em;
	margin: .5em;
	display: inline-block;
	border-radius: 0.3em;
	background: #FF0066;
}

.key {
	transition: all 0.5s;
}

.playing {
	transform:scale(1.1);
	border: 5px solid #FFFF00;
}

h1, .sounds {
	text-align: center;
}

h1 {
	font-size: 4em;
}

.sounds {
	font-size: 3em;
}


@media (max-width: 717px) {
	.flex-container {
    	height: 30em;
    	margin: 3em auto;
  	}
  	.square {
  		width: 2em;
		height: 2em;
  	}
  	h1 {
		font-size: 2em;
	}
	.sounds {
		font-size: 1.5em;
	}
}